<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta charset="utf-8" />
</head>

<body>

<div id="block-body" style="margin-top: 10%">

	<div id="title" align="center" >Name</div>
	<br />
<div class="outer" style="margin:auto; padding: 20px; height:200px; width: 330px; border:1px solid black">
	
  <br />
	Name
	<input id="Name" type="text"></input>
	<br /><br />
	Color
		<input id="Color" type="text"></input>
	<br /><br />
	Cats or Dogs
		<select style="width: 150px">
		<option>Cats</option>
		<option>Dogs</option>
	</select>
	<br />
	
</div>

</body>

</html>