<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" />
    <meta charset="utf-8" />
</head>

<body>

<div id="block-body" style="margin-top: 10%">

    <div id="title" align="center" >Name</div>
    <br />
<div class="outer" style="margin:auto; padding: 20px; height:200px; width: 330px; border:1px solid black">
    
        <form action="/data/" method="post">
            {% csrf_token %}
            <br />
            <label for="name">Name</label>
            <input type="text" id="Name" name="Name"></input>
            <br /><br />
            <label for="color">Favorite Color</label>
            <input type="text" id="Color" name="Color"></input>
            <br /><br />
            <label for="Animal">Cats or Dogs</label>
            <select name="Animal" style="width: 150px" required>
                <option>Cats</option>
                <option>Dogs</option>
            </select>
            <br />
            <div class="button">
              <button type="submit">Send</button>
            </div>
    </form>
    
</div>

</body>

</html>