<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" />
    <meta charset="utf-8" />
     <link href="external.css" rel="stylesheet">
</head>


<style>
    .outer {
        margin: 0 auto;
        width: 18%;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em; 
    }

    .label {
        text-align: right;
        margin-top: 1em;
    }

    input {
        width: 150px
    }
    select {
        width: 152px;
        padding: 2px;
    }

    .button {
        padding: 1em;
        text-align: center;
    }
</style> 

<body>
    <div id="block-body" style="margin-top: 10%">
        <div id="title" align="center" >Name</div>
        <br />
        <div class="outer">
       
        <form action="/data/" method="post">
            {% csrf_token %}
            <br />
            <div class=label>
                <label for="name">Name</label>
                <input type="text" id="Name" name="Name"></input>
            </div>
            
            <div class=label>
                <label for="color">Favorite Color</label>
                <input type="text" id="Color" name="Color"></input>
             </div>
            <div class=label>
                <label for="Animal">Cats or Dogs</label>
                <select name="Animal" required>
                    <option>Cats</option>
                    <option>Dogs</option>
                </select>
            </div>
            <div class="button">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>

</html>